.bg-image{
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url("image/background.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	min-height:650px;
}
.brand{
	font-size: 28px;
	letter-spacing: 2px;
}
.header{
	padding-top: 250px;
}
.text{
	text-transform: capitalize;
}
.headline{
	font-size:400%;
	text-transform: capitalize;
}
.para{
	font-size:200%;
	text-transform: capitalize;
}

/*=========services==========*/

.services{
	margin: 100px 0px 100px 0px;
}
.s-head{
	font-size: 60px;
	font-weight: bold;
	text-transform: capitalize;

}
.s-para{
	padding-bottom:80px;
}
.imgsetting{
	background-color:yellow;
	color: white;
	height:100px;
	width:100px;
	border:1px solid yellow;
	border-radius: 50%;
	padding: 26px;
}
.h-awesome{
	margin:10px 0px 5px 0px;
	font-size: 30px;
	text-transform: capitalize;
}
.p-awesome{
	margin:3px 10px 6px 10px;
	font-size:18px;
}


/*=====================portifolio================*/

.portifolio{
	background: rgba(0,0,0,0.4);
}
.card{
	margin-bottom:30px;
}

.h-port{
	padding-top: 80px;
	margin-bottom: 80px;
	font-size:60px;
	color:white;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.cset{
	margin-bottom:50px;
}

/*=========h-team============*/
.our-team{
	margin-top: 60px;
	margin-bottom:30px;
}
.h-team{
	font-size: 60px;
	font-weight: bold;
	text-transform: capitalize;
}
.p-team{
	padding-bottom: 100px;
}

/*=========footer============*/
footer{
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
}
.footer{
	padding: 10px;
}
footer h5{
	font-size: 15px;
}

/*===========media query===============*/
@media(min-width:1180px ){


}

@media(min-width:768px ) and (max-width:1179px){
    .headline{
	font-size:300%;
}
    .para{
	font-size:150%;
	text-transform: capitalize;
}
   .s-head{
	font-size: 50px;
}
  .h-awesome{
	font-size: 25px;
}
  .p-awesome{
	font-size:15px;
}
.setting{
	  padding: 20px 0px 70px 0px;
}
.h-port,.h-team{
	font-size: 50px;
}
}
@media(min-width:480px ) and (max-width:767px ){
    .headline{
	font-size:250%;
}  
.h-port,.h-team{
	font-size:47px;
} 
    .para{
	font-size:120%;
	text-transform: capitalize;
}	
    .s-head{
	font-size: 35px;
}
    .h-awesome{
	font-size: 22px;
}
  .p-awesome{
	font-size:15px;
}
 .setting{
	  padding: 10px 0px 50px 0px;
}	
}
@media(min-width:300px ) and (max-width:479px ){

	.headline{
	font-size:200%;
}
.h-port,.h-team{
	font-size: 45px;
}
    .para{
	font-size:100%;
	text-transform: capitalize;
}
    .s-head{
	font-size: 30px;

}
    .h-awesome{
	font-size: 20px;
}
   .setting{
	  padding: 0px 0px 50px 0px;
}
    .p-awesome{
	font-size:15px;
}
}
